.ex-1-square{
  transition: 2.5s;
}

.ex-1-square:hover{
  background:red;
}
/* /1 esercizio */

.ex-2-square{
  transition:2.5s;
}

.ex-2-square:active{
  width:100%;
}
/* /2 esercizio */

.ex-3-square{
  transition:2.5s;
}

.ex-3-square:hover{
  border-radius: 100%;
}
/* /3 esercizio */
.ex-4-square{
  transition:2.5s;
}

.ex-4-square:hover{
  opacity:0;
}

/* NOTE: soluzione alternativa */
/* .ex-4-square:hover{
  background:#F5F5F5;
} */

/* /4 esercizio */

.ex-5-square{
  transition:1.5s;
}

.ex-5-square:hover{
  transform:scale(2);
}
.ex-5-square:active{
  transform:scale(.5);
}

/* /5 esercizio */
