/* 1° esercizio */
.ex-1-square{
  transition: 2.5s;
}

.ex-1-square:hover{
  background:red;
}

/* 2° esercizio */
.ex-2-square{
  transition:2.5s;
}

.ex-2-square:active{
  width:100%;
}

/* 3° esercizio */
.ex-3-square{
  transition:2.5s;
}

.ex-3-square:hover{
  border-radius: 100%;
}

/* 4° esercizio */
.ex-4-square{
  transition:2.5s;
}

.ex-4-square:hover{
  opacity:0;
}

/* NOTE: soluzione alternativa */
/* .ex-4-square:hover{
  background:#F5F5F5;
} */

/* 5° esercizio */
/* .ex-5-square{
  transition:1.5s;
} */

.ex-5-square:hover{
  transition:1.5s;
  transform:scale(2);
}
.ex-5-square:active{
  transition:1.5s;
  transform:scale(.5);
}

/* 6° esercizio */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* 7° esercizio */
.ex-7-img{
  transition: 1s;
}
.ex-7-img:hover{
  filter: invert(.8);
}
