.well{
  position:relative;
  min-height: 142px;
  padding:40px;
}

.ex-10-icon{
  position:absolute;
  top:calc(50% - 31px);
  left:32px;
}


.well.es_10:hover .ex-10-icon{
  animation: rotolo linear 5s infinite;
}

@keyframes rotolo {
  0% {
    top:calc(50% - 31px);
    left:32px;
  }

  25%{
    top:calc(50% - 31px);
    left:calc(25% - 45px);
    transform:rotate(1turn) scale(0.75);
  }

  50%{
    top:calc(50% - 31px);
    left:calc(50% - 30px);
    transform:rotate(2turn) scale(0.5);
  }

  75%{
    top:calc(50% - 31px);
    left:calc(75% - 15px);
    transform:rotate(3turn) scale(0.25);
  }

  90%{
    top:calc(50% - 31px);
    left:100%;
    transform:rotate(10turn) scale(0);
  }

  100%{
    display:none;
  }


}

.well.es_bonus{
  position:relative;
  min-height: 400px;
  width: 100%;
}

.well.es_bonus img{
  width:20%;
  position:absolute;

}

.well.es_bonus #goku{
  top:-60px;
  left:20px;
}

.well.es_bonus #onda{
  top:-61px;
  left:20px;
}

.well.es_bonus:hover #onda{
  animation: kamehameha linear 5s infinite;
}

@keyframes kamehameha {
  0% {
    top:-61px;;
    left:32px;
  }

  25%{
    top:-31px;;
    left:25%;
    transform:scale(1.5);
  }

  50%{
    top:-1px;;
    left:calc(50% - 30px);
    transform:scale(2);
  }

  75%{
    top:29px;
    left:calc(75% - 15px);
    transform:scale(2.5);
  }

  90%{
    top:60px;
    left:100%;
    transform: scale(3);
  }

  100%{
    display:none;
  }


}
